
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

:root {
  /* --front-btn: #e77f2bfb; */
  --front-btn: #333;
  --black: #333;
  --orange-color: #ff7902;
  --cream-color: #fffbec;
  --bs-orange-rgb: 255, 121, 2;
  --bs-white-rgb: 255, 255, 255;
  --bs-cream-rgb: 255, 251, 236;
  --darkgray-color: #4e4e4e;
  --modal-duration: 1s;
  --bs-bg-opacity: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.headline{
  color: #333;
  font-size: 4.3rem;
  font-family: 'Bangers', cursive;
  line-height: 3.7rem;
  margin-bottom: 20px;
}

.text-goback{
  color: #333;
  font-size: 1.8rem;
  font-family: 'Bangers', cursive;
  line-height: 1.8rem;
}

.border-color{
  border-color: rgb(251 238 191)!important;
}

.bg-cream {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-cream-rgb),var(--bs-bg-opacity))!important;
}

p {
    margin: 15px 0;
    line-height: 1.8;
  }
  
  .blog-text ul,
  ol {
    font-size: 110%;
    line-height: 2.3;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .blog-text pre {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    line-height: 2.3;
  }
  
  .blog-text h1 {
    font-size: 35px;
  }
  
  .blog-text h2,
  .blog-text h3,
  .blog-text h4 {
    font-size: 27px;
  }
  
  /* Fix category colors in production */
  .bg-yellow-600 {
    background-color: #d97705;
  }
  .bg-blue-600 {
    background: #3929eb;
  }
  .bg-green-600 {
    background-color: #049669;
  }
  .bg-purple-600 {
    background-color: #7730db;
  }
  .bg-red-600 {
    background-color: #a70b34;
  }